// .MuiModal-root {
//   background: none !important;
//   background-color: none !important;
//   backdrop-filter: blur(10px);
// }

.MuiBackdrop-root {
  background: none !important;
  background-color: none !important;
  backdrop-filter: blur(10px);
}
